.header{
    position: relative;
    background-image: url("../img/jpg/bg-preview.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    color: #fff;
}

.header .container{
    position: relative;
    height: 9rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.logo{
    transition: color 0.5s;
}

.logo:hover{
    color: #0D606F;
}

.logo img{
    transition: 0.5s;
}

.logo:hover img{
    filter: brightness(0) saturate(100%) invert(28%) sepia(11%) saturate(7321%) hue-rotate(157deg) brightness(89%) contrast(90%);
}

.header__logo{
    display: flex;
    align-items: center;
}

.header__logo-img{
    width: 3rem;
    height: 3rem;
}

.header__logo-text{
    font-family: 'Magra', sans-serif;
    font-weight: 600;
    font-size: 3.2rem;
    line-height: 1.22;
    margin-left: .6rem;
}

.header__nav{
    padding-right: 2.5rem;
}

.header__nav-list{
    display: flex;
}

.header__nav-link{
    font-family: 'Red Hat Text', sans-serif;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.3;
    color: #FFFFFF;
    transition: color 0.5s;
}

.header__nav-link:hover{
    color: #0D606F;
}

.header__button{
    font-size: 1.6rem;
    padding: 1rem 3rem;
    line-height: 1.3;
}

.preview{
    height: 67.5rem;
    background-image: url("../img/jpg/bg-preview.jpg");
    background-repeat: no-repeat;
    background-position: center -9rem;
    background-size: cover;
    padding-top: 3.2rem;
}

.preview__description{
    width: 89.2rem;
}

.preview__title{
    font-family: 'Aleo', serif;
    font-weight: 700;
    font-size: 8rem;
    line-height: 1.2;
    color: #fff;
    margin-bottom: 3.1rem;
}

.preview__text{
    font-style: italic;
    font-weight: 700;
    font-size: 2rem;
    line-height: 1.2;
    color: #fff;
    margin-bottom: 4.6rem;
}

.preview__search{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 89.2rem;
    height: 9.5rem;
    background-color: rgba(255,255,255,.7);
    border-radius: 1.6rem;
    padding-left: 4.1rem;
    padding-right: 1.8rem;
}

.preview__search-input{
    font-style: italic;
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 1.2;
    background-color: transparent;
    width: 56rem;
}

.preview__search-input::placeholder{
    color: #F2785C;
}

.steps{
    padding-top: 8rem;
    padding-bottom: 9.7rem;
}

.steps__header{
    margin-bottom: 4rem;
}

.steps__wrapper{
    display: flex;
    justify-content: space-between;
}

.steps__item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.step__img{
    margin-bottom: 3rem;
}
.step__square{
    width: 10rem;
    height: 10rem;
    background-color: #F2785C;
    border-radius: 1.6rem;
    padding: 1.5rem;
}

.steps__item .step__square{
    padding: 2.4rem;
}

.steps__item:first-child .step__square{
    padding: 2.5rem;
}
.steps__item:last-child .step__square{
    padding: 1.7rem;
}

.steps__item{
    margin-left: 7rem;
}

.steps__item:first-child{
    margin-left: 1rem;
}

.steps__item:last-child{
    margin-right: 1.3rem;
    margin-left: 0;
}

.step__text{
    font-weight: 400;
    font-size: 2rem;
    line-height: 1.2;
    color: #0D606F;
}

.destinations{
    padding-bottom: 4rem;
}

.swiper {
    width: 100%;
    height: auto;
}

.destinations__header{
    margin-bottom: 4.6rem;
}

.destinations__slide{
    padding: 0 3rem;
    /*margin: 0 3rem;*/
}

.destinations__slide-content{
    position: relative;
}

.destinations__slide-img img{
    border-radius: 1.6rem;
}

.destinations__slide-text{
    font-family: 'Red Hat Text', sans-serif;
    font-weight: 500;
    font-size: 3.2rem;
    line-height: 1.3;
    color: #FFFFFF;
    position: absolute;
    bottom: 4rem;
    left: 1.5rem;
}

/*.destinations__swiper{*/
/*    max-width: 800px;*/
/*    max-height: 800px;*/
/*}*/

.destinations__swiper{
    max-width: 1440px;
}

.destinations__slide{
    max-width: 800px;
    max-height: 800px;
}

.destinations__swiper .swiper-pagination-bullet {
    width: 2rem;
    height: 2rem;
    background-color: rgba(242, 120, 92, 0.5);
}

.destinations__swiper .swiper-pagination-bullet-active {
    background-color: rgba(242, 120, 92, 1);
}

.destinations__pagination {
    display: flex;
    align-items: center;
    justify-content: center;
}

.destinations__button{

}

.destinations__pagination.swiper-pagination-bullets.swiper-pagination-horizontal{
    bottom: auto;
    position: relative;
    padding-top: 2.2rem;
}

.stories{
    padding-top: 4rem;
}

.stories__wrapper{
    position: relative;
    background-image: url("../img/jpg/footer.jpg");
    background-repeat: no-repeat;
    background-position: center bottom -6.1rem;
    padding-top: 3.5rem;
    padding-bottom: 3.9rem;
    background-size: cover;
}

.stories__wrapper:after{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7);
    position: absolute;
    inset: 0;
    z-index: 0;
}

.stories__container{
    position: relative;
    z-index: 5;
}

.stories__header{
    margin-bottom: 3.4rem;
}

.stories__item{
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.stories .center-button{
    margin-top:5rem
}

.stories__img{
    width: 40rem;
    height: 25rem;

}
.stories__img img{
    border-radius: 1.6rem;
    filter: drop-shadow(0px .4rem .4rem #0D606F);
}


.store__info{
    width: 76rem;
    font-weight: 400;
    line-height: 1.2;
    color: #0D606F;
}

.store__info-header{
    font-size: 3.5rem;
    margin-bottom: 2.4rem;
    margin-top: 1rem;
}

.store__info-text{
    font-size: 2rem;
}

.store__info-link{
    font-size: 2rem;
    font-weight: bold;
}

.footer{
    background-image: url("../img/jpg/footer.jpg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
}

.footer__wrapper{
    display: flex;
    align-items: center;
    height: 6.1rem;

}

.footer__social-networks{
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.soc-icon{
    width: 3.36rem;
    height: 3.36rem;
    fill: #F8F8F8;
    transition: .5s;
}
.soc-youtube{
    fill: none;
    stroke: #F8F8F8;
    transition: .5s;
}

.soc-icon:hover{
    fill: #F2785C;
}

.soc-youtube:hover{
    fill: none;
    stroke: #F2785C;
}

/*.footer__social-networks .footer__social-link:not(:last-child){*/
/*    margin-right: 2rem;*/
/*}*/

.footer__social-networks .footer__social-item:not(:last-child){
    margin-right: 2rem;
}

.footer__copy{
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 131%;
    color: #FFFFFF;
}

.footer__wrapper::before {
    flex: 1;
    content: '';
}

@media (min-width: 48em) {
    .header{
        box-shadow: 0 .4rem .4rem rgba(13, 96, 111, 0.5);
    }

    .header__wrapper::after{
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        background-color: rgba(242, 120, 92, 0.70);
        position: absolute;
        inset: 0;
        z-index: 0;
    }

    .header__nav-list .header__nav-item:not(:last-child){
        margin-right: 4.2rem;
    }

    .destinations__button-prev,
    .destinations__button-next{
        display: none;
    }

    .mobile{
        display: none;
    }


}

@media (min-width: 1440px) {
    .destinations__slide, .destinations__slide-content img{
        width: 800px;
        height: 800px;
    }

    .destinations__slide{
        margin: 0 3rem;
    }
}

@media (max-width: 48em) {
    html {
        font-size: 1.282vw;
    }
    .container {
        width: 100%;
        padding: 0 3rem;
    }
    .header {
        width: 100%;
        border-radius: 5rem 5rem 0 0;
        padding-top: 8.6rem;
        background-size: 160%;
        background-position: center -2rem;
    }

    .header .container{
        z-index: auto;
    }

    .header__wrapper::after{
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, #0D606F 0%, rgba(13, 96, 111, 0) 100%);
        position: absolute;
        inset: 0;
        z-index: 0;
        border-radius: 5rem 5rem 0 0;
    }

    .header .container{
        height: 6.4rem;
        padding: 0 4.4rem 0 3.2rem;
    }

    .header__logo-text,
    .header__button,
    .preview__title,
    .preview__text{
        display: none;
    }

    .header__logo-img {
        width: 6rem;
        height: 6rem;
    }
    .preview__search{
        width: 72rem;
        height: 9.6rem;
        border-radius: 3.2rem;
        padding-left: 3.6rem

    }

    .preview__search-input{
        font-size: 2.8rem;
        width: 42rem;
    }

    .header__nav-list .header__nav-item:not(:last-child){
        margin-bottom: 2rem;
    }

    .header__nav-list{
        flex-direction: column;
        align-items: flex-end;
    }

    .header__nav-link{
        font-size: 3.2rem;
    }

    .preview{
        height: 35.2rem;
        display: flex;
        justify-content: center;
        align-items: center;

        background-size: 160%;
        background-position: center -17rem;
    }

    .preview .container{
        padding: 0;
    }
    .preview__description{
        width: 100%;
        margin-top: -1.5rem;
    }

    .steps{
        padding-top: 4rem;
        padding-bottom: 3.7rem;
    }

    .steps__header{
        font-size: 2.7rem;
        margin-bottom: 4.5rem;
    }


    .step__square{
        width: 14rem;
        height: 14rem;
        border-radius: 2.6rem;
    }

    .step__img{
        margin-bottom: 3.8rem;
    }

    .stories__header{
        margin-bottom: 2rem;
    }

    .stories__img{
        /*width: 31rem;*/
        /*height: 26rem;*/

        width: 43%;
        height: auto;
    }

    .stories__item{
        /*margin-bottom: 2.4rem;*/
    }

    .stories__img img{
        object-fit:cover;
    }
    .store__info{
        /*width: 39rem;*/
        width: 54%;
    }

    .store__info-header{
        font-size: 2.2rem;
        font-weight: bold;
        margin-bottom: 2.2rem;
    }

    .store__info-text {
        font-size: 1.8rem;
        /*margin-bottom: 2rem;*/
        display: -webkit-box;
        -webkit-line-clamp: 8;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .store__info-text span{
        display: none;
    }

    .store__info-link{
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 120%;
        text-decoration-line: underline;
    }

    .steps__item{
        margin-left: 0;
        flex-basis: 33.3%;
        justify-content: flex-start;
    }

    .steps__item:first-child{
        margin-left: 0;
        align-items: flex-start;
        flex-basis: 25%;
    }

    .steps__item:last-child{
        margin-right: 0;
        align-items: flex-end;
        flex-basis: 25%;
    }

    .steps__item:last-child .step__text{
        text-align: right;
    }


    .swiper,
    .destinations__slide-img img{
        width: 72rem;
        height: 42rem;
        object-fit: cover;
    }

    .destinations__slide{
        padding: 0;
    }

    .destinations__slide-text{
        font-size: 4rem;
        text-transform: uppercase;
        bottom: 0;
        top: 1.6rem;
        left: 3rem;
    }

    /*.destinations__header{*/
    /*    margin-bottom: 3.6rem;*/
    /*}*/

    .destinations{
        padding-bottom: 0;
    }

    .destinations__swiper .swiper-pagination-bullet{
        width: 1.6rem;
        height: 1.6rem;
    }


    .stories__img img{
        filter: drop-shadow(0px .8rem .8rem #0D606F);
        border-radius: 3.2rem;
    }

    .stories .center-button{
        margin-top: 2rem;
    }

    .stories__wrapper{
        background-image: url(../img/jpg/footer-mob.jpg);
        background-position: center bottom -13rem;
        background-size: cover;
        padding-bottom: 1.8rem;
        padding-top: 1.5rem;
        background-size: 100% 140rem;
    }

    .footer{
        height: 13rem;
        border-radius: 0 0 5rem 5rem;
        background-image: url(../img/jpg/footer-mob.jpg);
        background-size: cover;
        background-size: 100% 140rem;
    }

    .footer .container{
        height: 100%;
    }

    .footer__copy{
        display: none;
    }

    .footer__wrapper{
        align-items: center;
        height: 100%;
    }

    .footer__social-networks{
        justify-content: center;
    }

    .footer__wrapper::before{
        display: none;
    }

    .footer__social-networks .footer__social-item:not(:last-child){
        margin-right: 4.2rem
    }

    .soc-icon {
        width: 6.73rem;
        height: 6.73rem;
    }

    .footer__social-networks .footer__social-link:not(:last-child){
        margin-right:3.2rem;
    }


    .destinations__pagination.swiper-pagination-bullets.swiper-pagination-horizontal{
        z-index: 10;
        position: absolute;
        padding: 0;
        bottom: 2.4rem;
    }

    .destinations__button-prev,
    .destinations__button-next{
        color: #F2785C;
    }

    .swiper-button-prev:after{
        transform: rotate(180deg);
    }
    .swiper-button-prev:after, .swiper-button-next:after{
        font-size: 0;
        background-image: url(../img/svg/arrow-slider-left.svg);
        background-size: 3rem 5rem;
        height: 5rem;
        width: 3rem;

    }

}



